@media only screen and (max-width:400px){

  /* styles for navbar */
  .nav-bar{
    /* for some webkit browsers */
    /* position:-webkit-sticky; */
    /* position: sticky; */
    position: fixed;
    top:0;
    width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index:3;
    background:var(--white);
    opacity: .9;
    /* background: var(--primaryDarkBlue); */
    transition: var(--secondTransition);
  }
  #logo{
    width:50px;
  }
  .nav-link{
  list-style-type: none;
  text-transform: capitalize;
  /* background-color:brown ; */
  }
  .nav-link a{
    text-decoration:none;
    letter-spacing: var(--mainSpacing);
    color:var(--mainWhite);
    transition:var(--secondTransition);
  }
  .nav-link a:hover{
    color:var(--White);
    background:var(--primaryColor);
  }

    /* responsive nav bar styles */
    .burger{
      width:40px;
      height:40px;
      margin:10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      cursor:pointer;

    }
    .line1,.line2,.line3{
      background:var(--golden);
      width:30px;
      height:3px;
      margin:3px;
      transition:var(--secondTransition);
    }
    .nav-links-container{
      position: absolute;
      right:0px;
      left:0px;
      top:20vh;
      width:80%;
      margin:auto;
      /* height:85vh; */
      height: 70vh;
      display:flex;
      flex-direction:column;
      align-items: center;
      transform:translateX(120%);
      background:var(--mainWhite);
      transition:var(--secondTransition);
      justify-content: space-evenly;
      border-radius: 10px;
    }
    .nav-links-container .nav-link{
      opacity: 0;
    }
    .nav-active{
      transform:translateX(0%);
      max-width:calc(100% - 40px);
      background:var(--golden);
    }
    @keyframes navLinkFade{
      from{
        opacity:0;
        transform:translateX(50px);
      }
      to{
        opacity:1;
        transform:translateX(0px);
      }
    }
    .toggle .line1{
      transform:rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
      opacity:0;
    }
    .toggle .line3{
      transform:rotate(45deg) translate(-5px,-6px);
    }

    /* end of responsive nav bar styles */

    /* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./gallery/hero-bcg.JPG") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  background: transparent;
  display: inline-block;
  padding: 2rem;
  transition: var(--firstTransition);
  border-radius: var(--borderRadius);
}

.banner:hover .banner-title{
   color:var(--golden);
}
.banner-title {
  font-size: 1rem;
  color:var(--golden);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  /* margin-bottom: 3rem; */
  background: var(--mainWhite);
  height:25px;
  /* opacity: .5; */
}
.banner-btn {
  height:40px;
  /* width:10px; */
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: .8rem;
  background: var(--golden);
  color: var(--mainBlack);
  border: 1px solid var(--golden);
  transition: var(--secondTransition);
  border-radius: var(--borderRadius);
  cursor: pointer;
}
.banner-btn > a{
  text-decoration:none;
  color: var(--white);
}
.banner-btn:hover {
  background: transparent;
  color: var(--white);
}
.banner-btn:hover a{
color: var(--white);
}
/* --------------- End of Hero ---------------- */
    /* styles for about container */
  .about-container{
    margin:10px;
    scroll-margin-top:60px;
  }
  .heading{
    text-transform: uppercase;
    font-size:.9em;
    /* box-shadow:0px 0px 50px 1px rgba(8,7,5,0.13); */
  }
  .about-us-text-content{
    box-shadow:0px 0px 50px 1px rgba(8,7,5,0.13);
  }
/* end of about us container */
  .activities-container{
    margin:10px;
    scroll-margin-top:60px;
  }
  .gallery-container{
    padding:1em;
    margin:10px;
    scroll-margin-top:20px;
  }
  .gallery-heading-container{
   margin-bottom: 10px;
  }
  .gallery-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .gallery-description{
    width:60%;
    margin-right:30px;
    display:flex;
    align-items:center;
    justify-content: center;
    box-shadow:0px 0px 50px 1px rgba(8,7,5,0.13);
  }
  .description-text{
    font-size:.8em;
  }
  .gallery-card{
    height:100%;
  }
  .gallery-header{
    color:var(--golden);
    text-transform: uppercase;
  }
 .gallery-images-container{
  width:100%;
 }
 .gallery-img{
   width:100%;
 }
 #sizing-image{
   height:500px;
   width:500px;
 }
/* footer section */
.footer-section{
  display: flex;
  justify-content: center;
  scroll-margin-top:20px;
}
/* end of footer section */
}