@media only screen and (max-width:400px){

  /* styles for navbar */
  .nav-bar{
    /* for some webkit browsers */
    /* position:-webkit-sticky; */
    /* position: sticky; */
    position: fixed;
    top:0;
    width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    /* padding:0 1%; */
    align-items:center;
    z-index:3;
    background:var(--white);
    transition: var(--mainTransition);
  }
  #logo{
    width:50px;
  }
  .nav-link{
  list-style-type: none;
  text-transform: capitalize;
  /* background-color:brown ; */
  }
  .nav-link a{
    text-decoration:none;
    letter-spacing: var(--mainSpacing);
    color:var(--primaryDarkBlue);
    transition:var(--mainTransition);
  }
  .nav-link a:hover{
    color:var(--White);
    background:var(--primaryColor);
  }

    /* responsive nav bar styles */
    .burger{
      width:40px;
      height:40px;
      margin:10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      cursor:pointer;

    }
    .line1,.line2,.line3{
      background:var(--primaryDarkBlue);
      width:30px;
      height:3px;
      margin:3px;
      transition:var(--mainTransition);
    }
    .nav-links-container{
      position: absolute;
      right:0px;
      left:0px;
      top:15vh;
      width:80%;
      margin:auto;
      height:85vh;
      height: 70vh;
      display:flex;
      flex-direction:column;
      align-items: center;
      transform:translateX(100%);
      background:transparent;
      transition:var(--mainTransition);
      justify-content: space-evenly;
      border-radius: 10px;
    }
    .nav-links-container .nav-link{
      opacity: 0;
    }
    .nav-active{
      transform:translateX(0%);
      max-width:calc(100% - 40px);
      background:var(--white);
    }
    @keyframes navLinkFade{
      from{
        opacity:0;
        transform:translateX(50px);
      }
      to{
        opacity:1;
        transform:translateX(0px);
      }
    }
    .toggle .line1{
      transform:rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
      opacity:0;
    }
    .toggle .line3{
      transform:rotate(45deg) translate(-5px,-6px);
    }

    /* end of responsive nav bar styles */
}