/* default browser styles reset */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
/* main colors */
:root{
  /* primary colors */
  --primaryDarkBlue:hsl(233,26%,24%);
  --primaryLimeGreen:hsl(136,65%,51%);
  --primaryBrightCyan:hsl(192,70%,51%);

  --primaryGold: #f09d51;
  --golden:goldenrod;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --firstTransition: all 0.3s linear;
  --borderRadius:5px;

  /* neutral colors */
  --grayishBlue:hsl(233,8%,62%);
  --lightGrayishBlue:hsl(220,16%,96%);
  --veryLightGray:hsl(0,0%,98%);
  --white:hsl(0,0%,100%);
  /* addins*/
  --secondTransition:all 0.2s ease-in;
}
/* to attain smooth scrool */
html{
  scroll-behavior: smooth;
}
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./gallery/hero-bcg.JPG") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 2rem;
  transition: var(--firstTransition);
  border-radius: var(--borderRadius);
}
.banner:hover{
  background: transparent;
}
.banner:hover .banner-title{
   color:var(--golden);
}
.banner-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;

}
.banner-btn {
  height:45px;
  width:110px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--golden);
  color: var(--mainBlack);
  border: 1px solid var(--golden);
  transition: var(--secondTransition);
  border-radius: var(--borderRadius);
  cursor: pointer;
}
.banner-btn > a{
  text-decoration:none;
  color: var(--white);
}
.banner-btn:hover {
  background: transparent;
  color: var(--white);
}
.banner-btn:hover a{
color: var(--white);
}
/* --------------- End of Hero ---------------- */
/* styles for about container */
  .about-container{
    margin:10px;
    scroll-margin-top:60px;
  }
  .heading{
    text-transform: uppercase;
    /* box-shadow:0px 0px 50px 1px rgba(8,7,5,0.13); */
  }
  .about-us-text-content{
    box-shadow:0px 0px 50px 1px rgba(8,7,5,0.13);
  }
/* end of about us container */
  .activities-container{
    margin:10px;
    scroll-margin-top:60px;
  }
  .gallery-container{
    padding:1em;
    margin:10px;
    scroll-margin-top:20px;
  }
  .gallery-heading-container{
   margin-bottom: 10px;
  }
  .gallery-center{
    display: flex;
    justify-content: space-around;
    width:100%;
  }
  .gallery-description{
    width:60%;
    margin-right:30px;
    display:flex;
    align-items:center;
    justify-content: center;
    box-shadow:0px 0px 50px 1px rgba(8,7,5,0.13);
  }
  .gallery-card{
    height:100%;
  }
  .gallery-header{
    color:var(--golden);
    text-transform: uppercase;
  }
 .gallery-images-container{
  width:100%;
 }
 .gallery-img{
   width:100%;
 }
 #sizing-image{
   height:500px;
   width:500px;
 }
/* footer section */
.footer-section{
  display: flex;
  justify-content: center;
  scroll-margin-top:20px;
}
/* end of footer section */